@page "/"
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@using TicTacToe.Models;
@using TicTacToe.Services;
@inject IJugadoresApiService jugadoresApiService
@inject IPartidasApiService partidasApiService
<PageTitle>TicTacToe</PageTitle>

<div class="container mx-auto max-w-lg p-6 bg-white rounded-lg shadow-xl text-center">

    <div class="game-container">

            <!-- PANTALLA DE SELECCIÓN DE JUGADOR -->
            <div class="selection-screen">
                <h1>Elige tu jugador</h1>
                <div class="d-flex gap-4">
                 <div class="d-flex flex-column">
                    <label class="form-label"><strong>Jugador X</strong></label>
                    <InputSelect class="form-control" @bind-Value="jugador1Id">
                        <option value="">Seleccione un jugador</option>
                        @foreach(var jugador in ListaJugadorResponse)
                            {
                                <option value="@jugador.jugadorId">@jugador.Nombres</option>
                            }
                            
                    </InputSelect>
                    </div>
                    <div class="d-flex flex-column">
                        <label class="form-label"><strong>Jugador 0</strong></label>
                        <InputSelect class="form-control" @bind-Value="jugador2Id">
                            <option value="">Seleccione un jugador</option>
                            @foreach(var jugador in ListaJugadorResponse)
                            {
                                <option value="@jugador.jugadorId" disabled="@(jugador.jugadorId==jugador1Id)">@jugador.Nombres</option> 

                            }
                    </InputSelect>
                    </div>
                </div>
                <button class="btn btn-success btn-lg mt-4"
                        disabled="@(jugador1Id == null || jugador1Id == jugador2Id)"
                        @onclick="StartGame">
                    Iniciar Partida
                </button>

                <h1>Unirse a Partida Existente</h1>
                <div class="form-group  mt-2">
                    <label class="form-label" for="partidaId"><strong>ID de la Partida:</strong></label>
                    <input id="partidaId" type="number" class="form-control" @bind="PartidaId" placeholder="ID de la partida" />
                    <button class="btn btn-primary btn-lg mt-4"
                            disabled="@(PartidaId <= 0)"
                            @onclick="UnirsePartida">
                        Unirse
                    </button>
                </div>

            </div>
           
    </div>
</div>



@code {

    private List<JugadorResponse> ListaJugadorResponse = new List<JugadorResponse>();
    private int PartidaId{ get; set; }
    public int jugador1Id;
    public int? jugador2Id;


    protected override async Task OnInitializedAsync()
    {
        await CargarJugadores();
    }

    public async Task CargarJugadores()
    {
        var Response = await jugadoresApiService.GetJugadoresAsync();

        if (Response is Resource<List<JugadorResponse>>.Success succes)
        {
            ListaJugadorResponse = succes.Data;
        }
        else if (Response is Resource<List<JugadorResponse>>.Error error)
        {
            Console.WriteLine($"Hay un error: {error.Message}");
        }

    }

    private async Task StartGame()
    {

        var guardado = await partidasApiService.PostPartida(jugador1Id, jugador2Id);

        if(guardado is Resource<PartidaResponse>.Success success)
        {
            navigationManager.NavigateTo($"/game/{success.Data.PartidaId}");
        }

    }

    public async Task UnirsePartida()
    {
        var partida = (await partidasApiService.GetPartidaAsync(PartidaId)).Data;

        jugador2Id = partida.Jugador2Id;

        if (jugador1Id == partida.Jugador1Id || jugador2Id == partida.Jugador2Id)
                navigationManager.NavigateTo($"/game/{PartidaId}");
            else navigationManager.NavigateTo($"/game/{PartidaId}");

        if (jugador1Id != 0) jugador2Id = partida.Jugador2Id; else jugador1Id = partida.Jugador1Id;

        var modificado = await partidasApiService.PutPartida(PartidaId, jugador1Id, jugador2Id);
        if(modificado is Resource<PartidaResponse>.Success)
        {
            navigationManager.NavigateTo($"/game/{PartidaId}");
        }
        else if(modificado is Resource<PartidaResponse>.Error error)
        {
            Console.WriteLine("Error al unirse a la partida: " + error.Message);
        }
    }
}


