@page "/"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@using TicTacToe.Models;
@using TicTacToe.Services;
@inject IJugadoresApiService jugadoresApiService
@inject IPartidasApiService partidasApiService
<PageTitle>TicTacToe</PageTitle>

<div class="container mx-auto max-w-lg p-6 bg-white rounded-lg shadow-xl text-center">

    <div class="game-container">

            <!-- PANTALLA DE SELECCIÓN DE JUGADOR -->
            <div class="selection-screen">
                <h1>Elige tu jugador</h1>
                <div class="d-flex gap-4">
                 <div class="d-flex flex-column">
                    <label class="form-label"><strong>Jugador X</strong></label>
                    <InputSelect class="form-control" @bind-Value="jugador1Id">
                        <option value="">Seleccione un jugador</option>
                        @foreach(var jugador in ListaJugadorResponse)
                            {
                                <option value="@jugador.jugadorId">@jugador.Nombres</option>
                            }
                            
                        }
                    </InputSelect>
                    </div>
                    <div class="d-flex flex-column">
                        <label class="form-label"><strong>Jugador 0</strong></label>
                        <InputSelect class="form-control" @bind-Value="jugador2Id">
                            <option value="">Seleccione un jugador</option>
                            @foreach(var jugador in ListaJugadorResponse)
                            {
                                <option value="@jugador.jugadorId" disabled="@(jugador.jugadorId==jugador1Id)">@jugador.Nombres</option> 

                            }
                    </InputSelect>
                    </div>
                </div>
                <button class="btn btn-success btn-lg mt-4"
                        disabled="@(jugador1Id == null || jugador1Id == jugador2Id)"
                        @onclick="StartGame">
                    Iniciar Partida
                </button>
            </div>
           
    </div>
</div>



@code {

    private List<JugadorResponse> ListaJugadorResponse = new List<JugadorResponse>();
    public int jugador1Id;
    public int? jugador2Id;


    protected override async Task OnInitializedAsync()
    {
        await CargarJugadores();
    }

    public async Task CargarJugadores()
    {
        var Response = await jugadoresApiService.GetJugadoresAsync();

        if (Response is Resource<List<JugadorResponse>>.Success succes)
        {
            ListaJugadorResponse = succes.Data;
        }
        else if (Response is Resource<List<JugadorResponse>>.Error error)
        {
            Console.WriteLine($"Hay un error: {error.Message}");
        }

    }

    private async Task StartGame()
    {

        var guardado = await partidasApiService.PostPartida(jugador1Id, jugador2Id);

            if(guardado is Resource<PartidaResponse>.Success success)
            {
                Navigation.NavigateTo($"/game/{success.Data.PartidaId}");
            }
    
        }
    }


}